
@using ES.QLBongDa.Web.Areas.App.Models.Common.Modals
@using ES.QLBongDa.Web.Areas.App.Models.Nations
@model NationViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="NationInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("maqg") :</h6>
                @Model.Nation.maqg
            </div>
            <div class="col-6 mb-3">
                <h6>@L("tenqg") :</h6>
                @Model.Nation.tenqg
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

